body {
	background-image: url("img1.jpg");
	opacity: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.operator
{
	background-color: #4d79ff;
}
.button{
	background-color: #4CAF50;
}
#clall
{
	background-color: #ff1a1a;
}
#equal
{
	background-color: #3333ff;
}

#clall,#equal,.button,.operator
{
	
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}