body {
	background-image: url("img2.jpg");
	opacity: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
input[type=text],select {
    width: 95%;
    position: relative;
    left:9px;
    color: black;
    padding: 12px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
    opacity: 100%;
    box-sizing: border-box;
}
#hd,#toph
{
	
	color:#66d9ff;
	
	font-family: 'Courier';

	top: 90px;
	}
#toph
{
	position: fixed;
	font-size: 18px;
	font-weight: bold;
	left:400px;
}
#hd
{
	position: fixed;
	text-align: center;
	font-size: 55px;
	left:550px;

}


.button,#clall,#sclr,.operator
{
	opacity:0.7;
}
.button:hover,#clall:hover,#sclr:hover,.operator:hover
{
	opacity:1;
}
.operator
{
	background-color: #4d79ff;
}
.button{
	background-color: #ff6600;
}
#clall
{
	background-color: #00ffbf;
}
#sclr
{
	background-color: #00ffbf;
}
table
{
	border-radius: 8px;
	position: relative;
	left:457px;
	top:200px;
	background-color: #262626;
	opacity:0.9;
	
}

.button1
{
	background-color: black;
	opacity:0.7;
	border: none;
    color: white;
    padding: 8px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;

	 -webkit-border-radius: 8px;
    -moz-border-radius: 16px;
    border-radius: 14px;
    -webkit-box-shadow: 0px 18px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    
	
	
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}
.button1:hover{
	background-color: black;
	color: white;
	opacity:1;
}
.button1:active
{
	-webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
#minus,#divs
{
	padding-right: 40px;
}
#clall,#sclr,.button,.operator
{
	
    border: none;
    color: black;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;

    -webkit-border-radius: 8px;
    -moz-border-radius: 16px;
    border-radius: 14px;
    -webkit-box-shadow: 0px 18px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    
	
	
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}
.operator
{
	-webkit-box-shadow: 0px 18px 0px rgb(102, 179, 255), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgb(102, 179, 255), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgb(102, 179, 255), 0px 9px 25px rgba(0,0,0,.7);

}

#clall,#sclr
{
	
	-webkit-box-shadow: 0px 18px 0px rgb(153, 255, 230), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgb(153, 255, 230), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgb(153, 255, 230), 0px 9px 25px rgba(0,0,0,.7);

}

#clall
{
	padding:15px 28px;
}
#clall:active,#sclr:active,.button:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
.operator:active {
    -webkit-box-shadow: 0px 3px 0px rgb(204, 204, 255), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgb(204, 204, 255), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgb(204, 204, 255), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.marquee {
	color:white;
    position: absolute;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 30s linear;
    font-family: 'Courier';
    font-weight: bold;
    background-color: black;
    opacity:0.7;
        -webkit-animation: moveit 8s infinite alternate-reverse; /* Chrome, Safari, Opera */
    animation: moveit 8s infinite alternate-reverse;
}
@-webkit-keyframes moveit {
    from {left: 0px;}
    to {left: 600px;}
}

@keyframes moveit {
    from {left: 0px;}
    to {left: 600px;}
}
@-webkit-keyframes rightThenLeft {
    0%   {left: 0%;}
    50%  {left: 100%;}
    100% {left: 0%;}
}
